﻿.box-login {
    background: rgba(0, 0, 0, 0.49);
    border-radius: 15px;
}
body {
    background: #000000 url(../img/fondo3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Gotham-ligth" !important;
}

.card {
    background: #fff url(../img/fondo3.2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Gotham-ligth" !important;
}
